tr{
  align-items: center;
  font-weight: 1;
}

table{

  margin-top: 100px;
  margin-left: 70px;
  border-collapse: collapse;
  min-width: 90%;
}

div{
  border-top: 1px solid #ddd;
}

button{
  background-color: white;
  border: none;
}
tr{
  align-items: center;
  margin: 15px;
}
td, th{
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
th{
  align-items: center;
  color: white;
  font-size: large;
  font-weight: 450;
}


.mat-mdc-header-row {
  background-color: #008ECF;
}
