main{
  margin-bottom: 100px;
}
.line{
  display: flex;
  margin-bottom: 50px;
}

.section{
  display: grid;
  margin-left: 70px;
}
label{
  font-size: large;
}
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #008ECF;
}
.content{
  margin-top: 50px;
}
#button{
  margin-left: 1110px;
  background-color: #008ECF;
  color: white;
  font-weight: 800;
  font-size: large;
  border-radius: 8px;
  border-color: #008ECF;
  padding: 12px;
}
