<main class="main">
  <form action="http://127.0.0.1:8000/api/create" class="content" method='post'>
    <div class="line">
      <div class="section">
        <label for="name">Nome Completo</label>
        <input class="input" size="65" id="mane" name="name" #name>
      </div>
      <div class="section">
        <label for="date">Data de Nascimento</label>
        <input class="input" size="65" id="dateBirth" name="dateBirth" #dateBirth>
      </div>
    </div>
    <div class="line">
      <div class="section">
        <label for="email">E-mail</label>
        <input class="input" size="65" id="email" name="email" #email>
      </div>
      <div class="section">
        <label for="profission">Profissão</label>
        <input class="input" size="65" id="profission" name="profission" #profission>
      </div>
    </div>
    <div class="line">
      <div class="section">
        <label for="telephone">Telefone para contato</label>
        <input class="input" size="65" id="telephone" name="telephone" #telephone>
      </div>
      <div class="section">
        <label for="phone">Celular para contato</label>
        <input class="input" size="65" id="cell_phone" name="cell_phone" #cell_phone>
      </div>
    </div>
    <button type="submit" id="button">Cadastrar contato</button>
  </form>
</main>

<style>
  main{
    margin-bottom: 100px;
  }
  .line{
    display: flex;
    margin-bottom: 50px;
  }

  .section{
    display: grid;
    margin-left: 70px;
  }
  label{
    font-size: large;
  }
  input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #008ECF;
  }
  .content{
    margin-top: 50px;
  }
  #button{
    margin-left: 1110px;
    background-color: #008ECF;
    color: white;
    font-weight: 800;
    font-size: large;
    border-radius: 8px;
    border-color: #008ECF;
    padding: 12px;
  }
</style>
