@if(updateContact.id == 0){
<main class="main">
  <form action="http://127.0.0.1:8000/api/create" class="content" method='post'>
    <div class="line">
      <div class="section">
        <label for="name">Nome Completo</label>
        <input class="input" size="65" id="name" name="name" #name>
      </div>
      <div class="section">
        <label for="date">Data de Nascimento</label>
        <input class="input" size="65" id="dateBirth" name="dateBirth" #dateBirth>
      </div>
    </div>
    <div class="line">
      <div class="section">
        <label for="email">E-mail</label>
        <input class="input" size="65" id="email" name="email" #email>
      </div>
      <div class="section">
        <label for="profission">Profissão</label>
        <input class="input" size="65" id="profission" name="profission" #profission>
      </div>
    </div>
    <div class="line">
      <div class="section">
        <label for="telephone">Telefone para contato</label>
        <input class="input" size="65" id="telephone" name="telephone" #telephone>
      </div>
      <div class="section">
        <label for="phone">Celular para contato</label>
        <input class="input" size="65" id="cell_phone" name="cell_phone" #cell_phone>
      </div>
    </div>
    <button type="submit" id="button">Cadastrar contato</button>
  </form>
</main>
}

@else{
<main class="main">
  <form #loginForm="ngForm" (ngSubmit)="updaterContact(loginForm.value)" class="content" method='put'>
    <div class="line">
      <div class="section">
        <label for="name">Nome Completo</label>
        <input class="input" size="65" ngModel type="text" id="name" name="name" value="{{updateContact.name}}">
      </div>
      <div class="section">
        <label for="dateBirth">Data de Nascimento</label>
        <input class="input" size="65" ngModel type="text" id="dateBirth" name="dateBirth" value="{{updateContact.dateBirth}}">
      </div>
    </div>
    <div class="line">
      <div class="section">
        <label for="email">E-mail</label>
        <input class="input" size="65" ngModel type="text" id="email" name="email" value="{{updateContact.email}}">
      </div>
      <div class="section">
        <label for="profission">Profissão</label>
        <input class="input" size="65" ngModel type="text"  id="profission" name="profission" value="{{updateContact.profission}}">
      </div>
    </div>
    <div class="line">
      <div class="section">
        <label for="telephone">Telefone para contato</label>
        <input class="input" size="65"  ngModel type="text"id="telephone" name="telephone" value="{{updateContact.telephone}}">
      </div>
      <div class="section">
        <label for="cell_phone">Celular para contato</label>
        <input class="input" size="65" ngModel type="text" id="cell_phone" name="cell_phone" value="{{updateContact.cell_phone}}">
      </div>
    </div>
    <button type="submit" id="button">Atualizar contato</button>
  </form>
</main>
}

