<main class="main">
  <div class="content">
    <div class="line">
      <div>
        <label>Nome Completo</label>
        <input class="input">
      </div>
      <div>
        <label>Data de Nascimento</label>
        <input class="input">
      </div>
    </div>
    <div class="line">
      <div>
        <label>E-mail</label>
        <input class="input">
      </div>
      <div>
        <label>Profissão</label>
        <input class="input">
      </div>
    </div>
    <div class="line">
      <div>
        <label>Telefone para contato</label>
        <input class="input">
      </div>
      <div>
        <label>Celular para contato</label>
        <input class="input">
      </div>
    </div>
  </div>
</main>
